h1{
    text-align: center;
font-size:32px;
}

h2{
 font-size:16px;
 margin-left:100px;
 margin-top:50px;
}

p{
    font-size:14px;
    text-align:center;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size:14px;
    padding: 10px;
  width: 500px;
}

#codeViewersButton{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-left: 3px;
    padding-right: 3px;
    font-size:14px;
}

/* #sketch1{
    margin-left: auto;
    margin-right: auto;
    width:500px;
} */

